.email-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .email-input-group {
    max-width: 400px;
    border: 1px solid #fff;
    border-radius: 50px;
    overflow: hidden;
    background-color: transparent;
  }
  
  .email-input-field {
    border: none;
    background-color: transparent;
    color: #fff;
  }
  
  .email-input-field::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .send-button {
    border: none;
    border-left: 1px solid #fff;
    color: #fff;
    background-color: transparent;
  }
  
  .send-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .send-icon {
    font-size: 1.2rem;
  }

col div img{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}



